<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$Think.lang.title}-{$Think.lang.xinwen}</title>
<link href="__PUBLIC__/qiancss/common.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/qiancss/news.css" rel="stylesheet" type="text/css"/>
<script src="__PUBLIC__/qianjs/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/qianjs/common.js"></script>
<style type="text/css">
	#xianpage a{
		text-decoration:none;
		color:black;
	}
</style>
<script type="text/javascript">
//自动获取左边的高度
		$().ready(function(){
			var h=$(".ciLeft").height();
			//将高度的值赋给右边的高度
			$(".ciRight").css('min-height',h);
		});
	$(function(){
		$('.newList .newsRight a').click(function(e) {
			$(this).parent().parent().siblings().find('a').removeClass('current');
            $(this).addClass('current');
        });	
	})
</script>

</head>

<body>

<!--——————标题栏 开始——————-->
	<include file="Public:top"/>
	<div class="titleAll">
	<div class="title clearfix">
    	
		<include file="Public:logo"/>
        
        <div class="tRight">
        	<!--——————导航栏 开始——————-->
            <div class="nav">
                <ul class="clearfix">
                    <li><a href="__MODULE__/Index/index.html">{$Think.lang.shouye}</a></li>
                    <li><a href="__MODULE__/Company/index.html">{$Think.lang.guanyu}</a></li>
                    <li class="current differ"><a href="__MODULE__/News/index.html">{$Think.lang.xinwen}</a></li>
                    <li><a href="__MODULE__/Product/index/cid/8.html">{$Think.lang.chanpin}</a></li>
                    <li><a href="__MODULE__/Sale/index.html">{$Think.lang.xiaoshou}</a></li>
                    <li><a href="__MODULE__/Emyployee/index.html">{$Think.lang.renli}</a></li>
                    <li><a href="__MODULE__/Contact/index.html">{$Think.lang.lianxi}</a></li>
                </ul>
            </div>
<!--——————导航栏 结束——————-->
        </div>
    </div>
</div>
<!--——————标题栏 结束——————-->

<!--——————内容 开始——————-->
<div class="content">
	<!--——————banner 开始——————-->
    <div class="banner">
    	<img src="__PUBLIC__/img/xinwenimg01.png"/>
    </div>
    <!--——————banner 结束——————-->
    
    <!--——————标题 开始——————-->
    <!--——————标题 结束——————-->
    
    <div class="cIn clearfix">
   	  <div class="ciLeft">
        	<div class="cilTop">
            	<h3>{$Think.lang.guanyu}</h3>
            </div>
            <div class="fenlei">
           	  <ul>
                	<li><a href="__MODULE__/News/index/n_cate/gongsi.html">{$Think.lang.gongsixinwen}</a></li>
                	<li><a href="__MODULE__/News/index/n_cate/hangye.html">{$Think.lang.hangyexinwen}</a></li>
                </ul>
            </div>
            
       		<!-- 加载左侧页面 -->
       		<include file="Public:left"/>
        </div>
        
        
        <div class="ciRight">
        	<div class="cirHead clearfix">
            	<h3>{$news[0].n_cate}</h3>
                <p>{$Think.lang.current}：<a href="__MODULE__/Index/index.html">{$think.lang.home}</a>><a href="__MODULE__/News/index.html">{$Think.lang.xinwen}</a>><a href="javascript:;">{$news[0].n_cate}</a></p>
            </div>

            <div class="showLine clearfix">
            <foreach name="news" item="v">
            	<div class="newList clearfix">
                	<img src="__PUBLIC__/images/{$v.n_picture}" width='237' height="188"/>
                    <div class="newsRight">
                    	<h5>{$v.n_title|cutstr=20} </h5>
                        <p>{$v.n_info|cutstr=110}</p>
                        <a class="current" href="__MODULE__/News/detail/nid/{$v.n_id}.html">详细内容>></a>
                    </div>
                </div>
             </foreach>   
            </div>
            <!--页数-->
            <div class="page">
            	<span  id="xianpage">{$pageStr}</span>
            </div>
        </div>
        <!--ciRight-->
    </div>
    
</div>
<!--——————内容 结束——————-->

	<include file="Public:bottom"/>

<!--——————footer2 结束——————-->

</body>
</html>
