<div class="tel ">
<div class="telIn clearfix">
	<div class="telLeft clearfix">
    	<i class="telBg"></i>
        <span>{$contact.l_tel2}</span>
    </div>
	<div class="telRight clearfix">
    	<i class="youxiangBg"></i>
        <span>{$contact.l_email}</span>
    </div>
</div>
</div>

<!--——————footer 开始——————-->
	<div class="footer">
    	<div class="footerIn clearfix">
        	<div class="fiLeft">
            	<img src="__PUBLIC__/img/logoFooter.png">
            </div>
            <div class="fiCenter" style="text-align:left;">
            	<p>{$Think.lang.banquan}：{$contact.l_name}    </p>
				<p>{$Think.lang.dizhi}：{$contact.l_addr} </p>
                <p>Tel :  {$contact.l_tel2}      &nbsp;&nbsp;&nbsp;{$Think.lang.wangzhi}: {$contact.l_web} <!-- Q Q:  {$contact.l_qq} -->&nbsp;&nbsp;&nbsp;       E-mail:{$contact.l_email}</p>
                <p>{$Think.lang.beian}：{$Think.lang.beianneirong} {$Think.lang.jishu}：{$Think.lang.hongyang}</p>
            </div>
            <div class="fiRight">
            	<img src="__PUBLIC__/images/{$contact.l_erweima}" width="118" height="118">
                <span style="width:300px;text-align:center;">{$Think.lang.saomiao}</span>
            </div>
        </div>
    </div>

<div style='display:none'>
<a href='http://www.liustudy.com' target='_blank' title='轻质隔墙板厂家'>轻质隔墙板厂家</a>
<a href='http://www.bjtu-edu.com' target='_blank' title='北京交通大学hnd留学'>北京交通大学hnd留学</a>
</div>