<!DOCTYPE HTML>
<html>
<head>
<title>添加产品种类</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="__PUBLIC__/css/lines.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!----webfonts--->
<!---//webfonts--->  
<!-- Nav CSS -->
<link href="__PUBLIC__/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/js/custom.js"></script>
<!-- Graph JavaScript -->
<script src="__PUBLIC__/js/d3.v3.js"></script>
<script src="__PUBLIC__/js/rickshaw.js"></script>
<script type="text/javascript" src="__ROOT__/library/kindeditor/kindeditor.js"></script>
<script type="text/javascript">
	function tijiao(){
		if(document.frm.c_name.value==''){
			alert("产品种类名称不能为空！");
			document.frm.c_name.focus();
			return false;
		}else if(document.frm.enc_name.value==''){
			alert("产品种类English名称不能为空！");
			document.frm.enc_name.focus();
			return false;
		}
	}
	/* function shoutiao(id){
		var xuanxiang=id.value;
		if(xuanxiang=='0'){
			//隐藏添加图片栏
			$("#tupian").css("display","none");
		}else if(xuanxiang=='1'){
			//显示添加图片栏
			$("#tupian").css("display","block");
		}
	} */
	function clickform(){
		//editor.html("");
	    document.frm.reset();
	}
</script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!-- 加载头部 -->
        <include file='Public:top'/>
			
        <!-- 加载左边部分 -->
        <include file='Public:left'/>
            <!-- /.navbar-static-side -->
        </nav>
	    <div id="page-wrapper">
		        <div class="graphs">
		        	<div>
						<div class="clearfix">
							<h3 class="content-title">产品种类添加</h3>
						</div>
						<div class="description" >{$msg.role}</div>
						<div class="col-sm-12">
                                <a href="__MODULE__/Modcate/index.html"  class="btn btn-secondary btn-lo pull-right">查看所有种类</a>
                            </div>
						<div class="clearfix" style="margin-bottom:8px;"></div> 
					</div>
					<div class="copy">
						<!-- 网站内容 -->
						<form name="frm" action="__MODULE__/Addcate/add.html" method="post" enctype="multipart/form-data" onsubmit="return tijiao()">
						<table>
							<tr align="left">
								<td>&nbsp;</td>
								<td>种类名称：</td>
								<td colspan='2'><input type="text" size="25" name="c_name"/></td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan='4'>&nbsp;</td>
							</tr>
							<!--由于客户需求，不需要详细页了，所有默认都是列表页。不改动数据库的前提下，所以将其隐藏。-->
							<tr align="left" style="display:none;">
								<td>&nbsp;</td>
								<td>所属分类：</td>
								<td colspan='2'>
								<input type="radio" name="c_cate" value="列表页" checked/>列表页
								&nbsp;&nbsp;
								<input type="radio" name="c_cate" value="详细页"/>详细页
								</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td colspan='5'>****************英文部分**************</td>
							</tr><tr>
								<td>&nbsp;</td>
								<td colspan='4'>&nbsp;</td>
							</tr>
							<tr align="left">
								<td>&nbsp;</td>
								<td>English名称：</td>
								<td colspan='2'><input type="text" size="25" name="enc_name"/></td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan='4'>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td style="margin-left:0px"><input type="submit" value="添加种类"/>&nbsp;&nbsp;<input onclick="clickform()" type="button" value="重新填写"/></td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</table>
						</form>
				    </div>
				</div>
	      </div> 
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>
