<!DOCTYPE HTML>
<html>
<head>
<title>招聘信息修改</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="__PUBLIC__/css/lines.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!----webfonts--->
<!---//webfonts--->  
<!-- Nav CSS -->
<link href="__PUBLIC__/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/js/custom.js"></script>
<!-- Graph JavaScript -->
<script src="__PUBLIC__/js/d3.v3.js"></script>
<script src="__PUBLIC__/js/rickshaw.js"></script>
<script type="text/javascript" src="__ROOT__/library/kindeditor/kindeditor.js"></script>
<script type="text/javascript">
	//加载编辑器
	var editor;
	var eneditor;
	KindEditor.ready(function(e){
		editor=e.create('[name=j_content]',{
			'width':"800px",
			'height':'200px'
		});
		eneditor=e.create('[name=enj_content]',{
			'width':"800px",
			'height':'200px'
		});
	})
	function tijiao(){
		if(document.frm.j_name.value==''){
			alert("招聘岗位不能为空！");
			document.frm.j_name.focus();
			return false;
		}else if(editor.html()==''){
			alert("岗位描述不能为空！");
			editor.focus();
			return false;
		}else if(document.frm.enj_name.value==''){
			alert("English招聘岗位不能为空！");
			document.frm.enj_name.focus();
			return false;
		}else if(eneditor.html()==''){
			alert("English岗位描述不能为空！");
			eneditor.focus();
			return false;
		}
	}
	function tuichu(){
		location="__MODULE__/Modjob/index.html";
	}
</script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!-- 加载头部 -->
        <include file='Public:top'/>
			
        <!-- 加载左边部分 -->
        <include file='Public:left'/>
            <!-- /.navbar-static-side -->
        </nav>
	    <div id="page-wrapper">
		        <div class="graphs">
		        	<div>
						<div class="clearfix">
							<h3 class="content-title">招聘信息修改</h3>
						</div>
						<div class="description" >{$msg.role}</div>
						<div class="col-sm-12">
                                <a href="__MODULE__/Modjob/index.html"  class="btn btn-secondary btn-lo pull-right">查看所有招聘信息</a>
                            </div>
						<div class="clearfix" style="margin-bottom:8px;"></div> 
					</div>
					<div class="copy">
						<!-- 网站内容 -->
						<form name="frm" action="__MODULE__/Modjob/save/jid/{$job.j_id}.html" method="post" enctype="multipart/form-data" onsubmit="return tijiao()">
						<table>
							<tr align="left">
								<td>职位名称：</td>
								<td colspan='2'><input type="text" size="50" name="j_name" value="{$job.j_name}"/></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan='2'>&nbsp;</td>
							</tr>
							<tr align="left">
								<td>关键字：</td>
								<td colspan='2'><input type="text" size="30" name="j_keys" value="{$job.j_keys}"/></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan='2'>&nbsp;</td>
							</tr>
							<tr>
								<td>职位需求：</td>
								<td colspan='2'><textarea name="j_content">{$job.j_content}</textarea></td>
							</tr>
							<tr><td colspan='3'>&nbsp;</td></tr>
							<tr><td colspan='3'>*******************英文部分********************</td></tr>
							<tr><td colspan='3'>&nbsp;</td></tr>
					
							<tr align="left">
								<td>English职位名称：</td>
								<td colspan='2'><input type="text" size="50" name="enj_name" value="{$job.enj_name}"/></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan='2'>&nbsp;</td>
							</tr>
							<tr>
								<td>English职位需求：</td>
								<td colspan='2'><textarea name="enj_content">{$job.enj_content}</textarea></td>
							</tr>
							<tr><td colspan='3'>&nbsp;</td></tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan='2'><input type="submit" value="确定修改"/>&nbsp;&nbsp;<input onclick="tuichu()" type="button" value="退出编辑"/></td>
							</tr>
						</table>
						</form>
				    </div>
				</div>
	      </div> 
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>
