<!DOCTYPE HTML>
<html>
<head>
<title>所有产品概述</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="__PUBLIC__/css/lines.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!----webfonts--->
<!---//webfonts--->  
<!-- Nav CSS -->
<link href="__PUBLIC__/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/js/custom.js"></script>
<!-- Graph JavaScript -->
<script src="__PUBLIC__/js/d3.v3.js"></script>
<script src="__PUBLIC__/js/rickshaw.js"></script>
<script type="text/javascript">
	function del($g_id){
		if(confirm("确定要删除此条产品概述吗？")){
			window.location="__MODULE__/Modgaishu/del/gid/"+$g_id;
		}
	}
	function getNum(){
		var news=document.getElementsByName('news[]');
		count=0;
		for(i=0;i<news.length;i++){
			if(news[i].checked){
				count++;
			}
		}
		return count;
	}
	function status(){
		var geshu=getNum();
		if(geshu){
			document.getElementById("shanchu").disabled=false;
		}else{
			document.getElementById("shanchu").disabled=true;
		}
	}
	function delzong(){
		var zong=document.getElementById('zong');
		var news=document.getElementsByName('news[]');
		for(i=0;i<news.length;i++){
			news[i].checked=zong.checked;
		}
		status()
	}
	function newsdel(){
		var zong=document.getElementById('zong');
		var news=document.getElementsByName('news[]');
		if(getNum()==news.length){
			zong.checked=true;
		}else{
			zong.checked=false;
		}
		status()
	}
	function alldel(){
		//document.getElementById("frm").action="__MODULE__/Modnews/delAll.html";
		window.frm.action="__MODULE__/Modgaishu/delall";
		document.frm.submit();
	}
	function showpai(){
		document.getElementById("paixu").disabled=false;
	}
	function allpai(){
		window.frm.action="__MODULE__/Modgaishu/allpai";
		document.frm.submit();
	}
</script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!-- 加载头部 -->
        <include file='Public:top'/>
			
        <!-- 加载左边部分 -->
        <include file='Public:left'/>
            <!-- /.navbar-static-side -->
        </nav>
	    <div id="page-wrapper">
		        <div class="graphs">
		        	<div>
						<div class="clearfix">
							<h3 class="content-title">所有产品概述</h3>
						</div>
						<div class="description" >{$msg.role}</div>
						<div class="col-sm-12">
                                <a href="__MODULE__/Addgaishu/index.html"  class="btn btn-secondary btn-lo pull-right">添加产品概述</a>
                            </div>
						<div class="clearfix" style="margin-bottom:8px;"></div> 
					</div>
						<!-- 网站内容 -->
					   <div class="xs">
							<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
									<div class="panel-heading">
										<h2>概述展示</h2>
										<div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
									</div>
									<div class="panel-body no-padding" style="display: block;">
									<form name="frm" id='frm' action='' method="post">
										<table class="table table-striped">
											<thead>
												<tr class="warning">
													<th><input type="checkbox" id="zong" onclick="delzong()" name="zong"/></th>
													<th>序号</th>
													<th>排序</th>
													<th>中文标题</th>
													<th>中文图片</th>
													<th>英文标题</th>
													<th>英文图片</th>
													<th>时间</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
											<foreach name="gaishu" item="v">
												<tr>
													<td><input type="checkbox" name="news[]" onclick='newsdel()' value="{$v.g_id}"/></td>
													<td>{$v.g_id}</td>
													<td><input type="text" size="2"  onchange='showpai()' name="paixu[{$v.g_id}]" value="{$v.g_pai}"/></td>
													<td>{$v.g_name|cutstr=27}</td>
													<td>
													<if condition="$v.g_picture != '0'">
														<img src='__ROOT__/public/images/{$v.g_picture}' alt='' title='' width="80" height="40"/>
													</if>	
													</td>
													<td>{$v.eng_name|cutstr=27}</td>
													<td>
													<if condition="$v.eng_picture != '0'">
														<img src='__ROOT__/public/images/{$v.eng_picture}' alt='' title='' width="80" height="40"/>
													</if>	
													</td>
													<td>{$v.g_time|date='Y-m-d H:m',###}</td>
													<td>
														<a href="__MODULE__/Modgaishu/upt/gaishuId/{$v.g_id}" class="btn btn-default btn-sm btn-lo">修改</a>
                                          				  <a href="#" onclick="del({$v.g_id})" class="btn btn-default btn-sm btn-lo">删除</a>
													</td>
												</tr>
											</foreach>	
											</tbody>
											
										</table>
										<input type="button" id="shanchu" onclick="alldel()" disabled='disabled' value="删除选中项"/>
										<input type="button" id="paixu" onclick="allpai()" disabled='disabled' value="确认排序"/>
										 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{$showMsg}
										</form>
									</div>
							</div>
						</div>
						<!-- 网站内容结束 -->	
						
						
						<div>
						
							<ul class="pagination">
								  {$fangkuai}
							</ul>	
						</div>	
				</div>
	      </div> 
      <!-- /#page-wrapper -->
      
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>
