<!DOCTYPE HTML>
<html>
<head>
<title>产品概述修改</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="__PUBLIC__/css/lines.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!----webfonts--->
<!---//webfonts--->  
<!-- Nav CSS -->
<link href="__PUBLIC__/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/js/custom.js"></script>
<!-- Graph JavaScript -->
<script src="__PUBLIC__/js/d3.v3.js"></script>
<script src="__PUBLIC__/js/rickshaw.js"></script>
<script type="text/javascript" src="__ROOT__/library/kindeditor/kindeditor.js"></script>
<script type="text/javascript">
	//加载编辑器
	var editor;
	var eneditor;
	KindEditor.ready(function(e){
		editor=e.create('[name=g_content]',{
			'width':"800px",
			'height':'100px'
		});
		eneditor=e.create('[name=eng_content]',{
			'width':"800px",
			'height':'100px'
		});
	})
	function tijiao(){
		if(document.frm.g_name.value==''){
			alert("中文概述标题不能为空！");
			document.frm.g_name.focus();
			return false;
		}else if(document.frm.eng_name.value==''){
			alert("English概述标题不能为空！");
			document.frm.eng_name.focus();
			return false;
		}else if(editor.html()==''){
			alert("中文概述内容不能为空！");
			editor.focus();
			return false;
		}else if(eneditor.html()==''){
			alert("English概述内容不能为空！");
			eneditor.focus();
			return false;
		}
	}
	/* function shoutiao(id){
		var xuanxiang=id.value;
		if(xuanxiang=='0'){
			//隐藏添加图片栏
			$("#tupian").css("display","none");
		}else if(xuanxiang=='1'){
			//显示添加图片栏
			$("#tupian").css("display","block");
		}
	} */
	function tuichu(){
		window.location="__MODULE__/Modgaishu/index.html";
	}
</script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!-- 加载头部 -->
        <include file='Public:top'/>
			
        <!-- 加载左边部分 -->
        <include file='Public:left'/>
            <!-- /.navbar-static-side -->
        </nav>
	    <div id="page-wrapper">
		        <div class="graphs">
		        	<div>
						<div class="clearfix">
							<h3 class="content-title">产品概述修改</h3>
						</div>
						<div class="description" >{$msg.role}</div>
						<div class="col-sm-12">
                                <a href="__MODULE__/Modgaishu/index.html"  class="btn btn-secondary btn-lo pull-right">查看所有产品概述</a>
                            </div>
						<div class="clearfix" style="margin-bottom:8px;"></div> 
					</div>
					<div class="copy">
						<!-- 网站内容 -->
						<form name="frm" action="__MODULE__/Modgaishu/save/gid/{$gaishu.g_id}.html" method="post" enctype="multipart/form-data" onsubmit="return tijiao()">
						<table>
							<tr align="left">
								<td>概述标题：</td>
								<td colspan='2'><textarea name="g_name" cols="50" rows="1">{$gaishu.g_name}</textarea></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan='2'>&nbsp;</td>
							</tr>
							<tr align="left">
								<td>英文标题：</td>
								<td colspan='2'><textarea name="eng_name" cols="50" rows="1">{$gaishu.eng_name}</textarea></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan='2'>&nbsp;</td>
							</tr>
							<tr align="left">
								<td>图片上传</td>
								<td>中文图片：<input id='tupian' type="file" name="upload[]" multiple="multiple"/></td>
								
								<td>
									english图片：<input id='tupian' type="file" name="enupload[]" multiple="multiple"/>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan='2'>&nbsp;</td>
							</tr>
							<tr align="left">
								<td>已有图片：</td>
								<td>
									<if condition="$gaishu.g_picture != null">
										<img src="__PUBLIC__/images/{$gaishu.g_picture}" title="" alt="" width="100" height="80"/>
									<else/>
										<img src="__PUBLIC__/images/wutu.png" title="" alt="" width="100" height="80"/>
									</if>
								</td>
								<td>
									<if condition="$gaishu.eng_picture != null">
										<img src="__PUBLIC__/images/{$gaishu.eng_picture}" title="" alt="" width="100" height="80"/>
									<else/>
										<img src="__PUBLIC__/images/wutu.png" title="" alt="" width="100" height="80"/>
									</if>
								</td>
							</tr>
							<tr>
								<td colspan='3'>&nbsp;</td>
							</tr>
							<tr>
								<td>文章内容：</td>
								<td colspan='2'><textarea name="g_content">{$gaishu.g_content}</textarea></td>
							</tr>
							<tr>
								<td colspan='3'>&nbsp;</td>
							</tr>
							<tr>
								<td>English内容：</td>
								<td colspan='2'><textarea name="eng_content">{$gaishu.eng_content}</textarea></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan='2'><input type="submit" value="确定修改"/>&nbsp;&nbsp;<input onclick="tuichu()" type="button" value="退出编辑"/></td>
							</tr>
						</table>
						</form>
				    </div>
				</div>
	      </div> 
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>
